body {
    background-color: black;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header-sin-cuenta {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Asegura que quede por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.imagen-logo-header {
    padding-right: 30%;
    padding-left: 2%;
}

.boton-header {
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 700;
}

.carousel-item img {
    height: 100vh; /* Altura completa del viewport */
    width: 100vw; /* Ancho completo del viewport */
    object-fit: cover; /* Para que la imagen no se deforme */
}

.carousel-container {
    margin: auto; /* Centrar el carrusel */
}

.overlay-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
}

.carousel-caption {
    color: #fff; /* Color del texto en blanco */
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0; /* Elimina el margen por defecto */
    font-family: 'Poppins', sans-serif;
}

.carousel-caption h1 {
    text-align: left;
    font-size: 5vw;
    font-weight: bolder;
}

.carousel-caption p {
    text-align: left;
    font-size: 2vw;
    font-weight: 100;
    padding-bottom: 10%;
}

.container-slider-pequeño {
    height: 600px;
    width: 100vw;
    background-color: black;
}


/* CONTENEDOR SECCION PROBLEMA Y SOLUCION - SLIDER PEQUEÑO */
.ContenedorSLpeq-problema {
    background-color: black;
    padding: 20px;
    width: 100%;
    min-height: 400px; /* Altura mínima para que se ajuste mejor a diferentes tamaños de pantalla */
    margin-top: 0;
    position: relative;
}

.left-text-box {
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    padding-right: 20px; /* Añade un padding a la derecha para separación con el slider */
    text-align: justify;
}

/* Ajuste para el slider */
.right-slider {
    border-radius: 20px; /* Redondea las esquinas del slider */
    overflow: hidden; /* Asegura que las imágenes se ajusten dentro del contenedor redondeado */
}

/* Asegura que cada slide ocupe el alto completo del slider */
.carousel-item {
    height: 100%; /* Alto de la imagen*/
}

/* Ajusta las imágenes del slider para que no se deformen */
.right-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen */
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 992px) {
    .ContenedorSLpeq-problema {
        flex-direction: column;
        align-items: flex-start;
        text-align: center; /* Centra el texto en pantallas más pequeñas */
        min-height: auto; /* Auto ajuste de altura */
    }

    .left-text-box {
        width: 100%;
        padding-right: 0; /* Quita el padding a la derecha en pantallas más pequeñas */
        margin-bottom: 20px; /* Margen inferior */
        text-align: justify;
    }

    .right-slider {
        width: 100%;
        height: auto;
        max-width: 100%; /* Ancho del slider*/
    }
}



/* Slider principal */
.carousel-container {
    margin: 0;
}

/* Reducir márgenes adicionales en el slider */
.carousel-inner {
    margin: 0;
}

/* CONTENEDOR BLANCO SECCION BENEFICIOS*/
.ContenedorBeneficios {
    background-color: white;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center; /* Centra el contenedor de imágenes */
    padding: 80px;
    margin-top: 25px;
}

/* CONTENEDOR ICONOS Y FRASES */
.ContainerImagBeneficios {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Ajusta el ancho para pantallas pequeñas */
    max-width: 1200px; /* Ancho máximo para grandes pantallas */
    margin: auto;
    gap: 20px; /* Espacio entre las imágenes */
}

/* ESTILO DEL CONTENEDOR DE ICONOS */
.ContainerImagBeneficios > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Añade padding interno */
}

/* ESTILO ICONOS BENEFICIOS */
.ContainerImagBeneficios img {
    max-width: 100%; /* Evita que la imagen exceda el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 150px; /* Limita la altura máxima de la imagen */
}

/* FRASES SECCION BENEFICIOS */
.FraseBeneficios {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px; /* Espacio entre la imagen y el texto */
    text-align: center; /* Centra el texto debajo de la imagen */
    color: #0011A6;
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    font-weight: bold; /* Hace el texto en negritas */
    font-size: 20px; /* Tamaño de fuente ajustado para pantallas pequeñas */
    line-height: 1.2;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .ContainerImagBeneficios {
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Reduce el espacio entre los elementos en pantallas más pequeñas */
    }

    .ContainerImagBeneficios > div {
        margin: 0; /* Quita el margen en pantallas pequeñas */
        width: 80%; /* Asegura que los ítems no se expandan demasiado */
    }

    .FraseBeneficios {
        font-size: 16px; /* Ajusta el tamaño del texto para pantallas más pequeñas */
    }
}


/*CONTENEDOR TARJETAS PLANES*/
.ContenedorPlanes {
    background-color: black;
    padding: 20px; /* Espacio interno del contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    width: 100%; /* Ocupa el ancho total */
    min-height: 750px; /* Altura mínima */
}

/* Título PLANES */
.tituloPlanes {
    color: #EB00FF; /* Color del título */
    text-align: center; /* Centra el título horizontalmente */
    margin-bottom: 20px; /* Espacio debajo del título */
    font-size: 5rem; /* Tamaño del texto */
}

/* Contenedor de tarjetas PLANES */
.tarjetas-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en pantallas más pequeñas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 20px; /* Espacio entre las tarjetas */
    margin-bottom: 40px; /* Espacio debajo del contenedor de tarjetas */
}

/* Tarjetas PLANES*/
.tarjetas {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en pantallas más pequeñas */
    gap: 40px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
}

.tarjeta {
    background-color: white;
    color: black;
    width: 300px; /* Ancho de cada tarjeta */
    height: 490px; /* Alto de cada tarjeta */
    border-radius: 15px; /* Bordes redondeados de las tarjetas */
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido dentro de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para las tarjetas */
}

/* Botón de compra (INICAR SESIÓN PARA COMPRAR) */
.contenedorbotoncomprar {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    margin-top: 55px; /* Espacio encima del botón */
    margin-bottom: 40px;
}

.botoncomprar {
    background-color: black; /* Fondo del botón */
    color: white; /* Color de la fuente del botón */
    border: 2px solid #EB00FF; /* Borde del botón */
    border-radius: 10px; /* Bordes redondeados del botón */
    padding: 10px 20px; /* Espacio interno del botón */
    font-size: 1rem; /* Tamaño del texto del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Elimina el borde de enfoque por defecto */
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones para color */
}


.botoncomprar:hover {
    background-color: #EB00FF; /* Fondo del botón al pasar el ratón */
    border-color: black; /* Borde del botón al pasar el ratón */
}


.contenedorPreguntas {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .ContenedorPlanes {
        height: auto;
        /* Ajusta la altura para pantallas pequeñas */
        padding: 20px;
        /* Aumenta el padding para pantallas pequeñas */
    }

    .tarjetas-container {
        display: flex;
        flex-direction: column;
        /* Cambia la dirección a columna para apilar las tarjetas verticalmente */
        align-items: center;
        /* Centra el contenedor de tarjetas horizontalmente */
        justify-content: center;
        /* Centra el contenedor de tarjetas verticalmente */
        height: 100%;
        /* Asegura que el contenedor de tarjetas ocupe el 100% de la altura disponible */
        gap: 20px;
        /* Espacio entre las tarjetas */
    }

    .tarjetas {
        display: flex;
        flex-direction: column;
        /* Apila las tarjetas verticalmente */
        align-items: center;
        /* Centra las tarjetas horizontalmente dentro de su contenedor */
        gap: 20px;
        /* Espacio entre las tarjetas */
    }

    .contenedorbotoncomprar {
        position: static;
        /* Elimina la posición absoluta en pantallas pequeñas */
        margin-top: 20px;
        /* Añade espacio superior */
    }
}

.tituloPreguntas {
    color: black;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    font-weight: 700;
}

.desplegable {
    width: 100%;
    text-align: center;
}

.footer{
    display: flex;
    background-color: black;
    width: 100%;
    height: 280px;
}

.opciones-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 1.5rem;
}

.footer-opcion {
    width: 20%;
    margin: 1rem;
    text-align: left;
}

.lista-redes {
    padding-left: 0;
}

.lista-enlaces  {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

#preguntas_frec {
    width: 55%;
    background-color: black; /* Fondo del botón */
    color: white; /* Color de la fuente del botón */
    border: 2px solid #EB00FF; /* Borde del botón */
    border-radius: 10px; /* Bordes redondeados del botón */
    padding: 10px 20px; /* Espacio interno del botón */
    font-size: 1.1rem; /* Tamaño del texto del botón */
    cursor: pointer; /* Cambia el colr al pasar el cursor sobre el botón */
    outline: none; /* Elimina el borde de enfoque por defecto */
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones para color*/
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

    cursor: pointer;{
    /* Cambia el cursor al pasar sobre el botón */
    outline: none;
    /* Elimina el borde de enfoque por defecto */
    transition: background-color 0.3s,
    border-color 0.3s;
    /* Transiciones para efectos de hover */
    font-family: 'Poppins',
    sans-serif;
    font-weight: 200;
}


.social-icons {
    list-style: none;
    padding: 0;
}
.social-icons li {
    display: inline;
    margin: 0 10px;
}
.social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 32px; /* Ajusta el tamaño según prefieras */
}

.contenedor-titulo{
    width: 100%;
    height: 180px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-titulo h2{
    margin: 5px;
    font-size: 32px;
    font-weight: light;
}

.contenedor-titulo h3{
    font-weight: lighter;
    margin: 5px;
}

.label_from{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.formulario{
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.contenedor-form{
    display: flex;
    width: 200px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: 12px;
}

.content-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 64px;
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 8px;
    z-index: 1;
}

body, html {
    margin: 0;
    height: 100%;
}

.gallery {
    position: fixed; /* Fija la galería al fondo */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 720px;
    overflow: hidden;
    z-index: 0;
}

.fade {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al contenedor */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade.active {
    opacity: 1;
}

#cuenta{
    display: flex;
    margin: 8px;    
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}

.botones-cuenta{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .ContenedorPlanes {
        height: auto; /* Ajusta la altura para pantallas pequeñas */
        padding: 20px; /* Aumenta el padding para pantallas pequeñas */
    }

    /* Consulta de medios para pantallas pequeñas */
    @media (max-width: 768px) {
        .tarjetas-container {
            display: flex;
            flex-direction: column; /* Cambia la dirección a columna para apilar las tarjetas verticalmente */
            align-items: center; /* Centra el contenedor de tarjetas horizontalmente */
            justify-content: center; /* Centra el contenedor de tarjetas verticalmente */
            height: 100%; /* Asegura que el contenedor de tarjetas ocupe el 100% de la altura disponible */
            gap: 20px; /* Espacio entre las tarjetas */
        }

        .tarjetas {
            display: flex;
            flex-direction: column; /* Apila las tarjetas verticalmente */
            align-items: center; /* Centra las tarjetas horizontalmente dentro de su contenedor */
            gap: 20px; /* Espacio entre las tarjetas */
        }
    }


    .contenedorbotoncomprar {
        position: static; /* Elimina la posición absoluta en pantallas pequeñas */
        margin-top: 20px; /* Añade espacio superior */
    }

    .opciones-footer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        margin: 1.5rem;
    }

    .gallery {
        position: fixed; /* Fija la galería al fondo */
        bottom: 0;
        left: 0;
        width: 100%;
        height: 420px;
        overflow: hidden;
    }

    .contenedor-titulo h2{
        margin: 5px;
        font-size: 24px;
        font-weight: light;
    }

    .footer{
        display: flex;
        background-color: black;
        width: 100%;
        height: 480px;
    }
}
